# Auto detect text files and perform LF normalization
* text=auto
C:/Users/3corps/Desktop/unity/25Capstone/Assets/ARPGPack/ARPGSamurai/Animations/Generic/ARPG_Samurai.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ARPGPack/ARPGSamurai/Animations/Generic/ARPG_Samurai.fbx filter=lfs diff=lfs merge=lfs -text
